@using reaause.Services.Advertisment
@using shared;
@inject IAdvertisementService aService
@page "/market"

<h3>Market</h3>

<div class="item-grid">
    @foreach (var ad in ads)
    {
        <div class="item-card">
            @if (!string.IsNullOrWhiteSpace(ad.Picture))
            {
                <img src="@ad.Picture" alt="AdPicture" class="item-image" />
            }
            <div class="item-info">
                <p><strong>Name:</strong> @ad.Name</p>
                <p><strong>Category:</strong> @ad.Category</p>
                <p><strong>Color:</strong> @ad.Color</p>
                <p><strong>Price:</strong> @ad.Price</p>
                <p><strong>Description:</strong> @ad.Description</p>
                <p><strong>Condition:</strong> @ad.Condition</p>
                <p><strong>At School:</strong> @ad.AtSchool</p>
                <p><strong>Location:</strong> @ad.Location?.Name</p>
                <p><strong>Status:</strong> @ad.Status</p>
                <p><strong>Owner:</strong> @ad.Seller?.Name</p>
                
            </div>
        </div>
    }
</div>


@code {
    private List<Advertisement> ads = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAllActive();
    }

    private async Task GetAllActive()
    {
        ads = await aService.GetAllActiveAds();
    }
    
    
}